# Base de datos
DATABASE_URL=postgresql://usuario:password@localhost:5432/otwsp

# Servidor
PORT=3000

# Meta Cloud API
META_PHONE_NUMBER_ID=
META_ACCESS_TOKEN=
META_TEMPLATE_NAME=ot_tarea_notificacion
META_API_VERSION=v19.0
